body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: white;
}

/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header ul{
  margin: 0;
  padding: 0;
}

.button_1{
  height: 38px;
  background: #1dcdba;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

/*header*/
header{
  background: #6c6a69;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #1dcdba 3px solid;
}

header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlights, header .current a{
  color: #1dcdba;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/*show case*/

#showcase{
  min-height: 400px;
  background:url('cover2.jpg') no-repeat 0 -100px;
  /*text-align: center;*/
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#showcase h1{
  margin-top: 340px;
  font-size: 55px;
  margin-bottom: 10px;
  float: left;
  text-transform: lowercase;
  opacity: 0.6;
}
 /*newsletter*/

#newsletter{
  color: white;
  /*padding: 15px;*/
  background: #6c6a69;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/*boxes*/

#boxes{
    margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img{
  width: 80px;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: #1dcdba;
  text-align: center;
}
